<div class="list-parent" data-list-instance-type='BUD'>
  <div class="row filterzeile">

    <div class = "col-md-5 ">
      <div class = "input-group">
        <span class = "input-group-addon  btn neu" data-element="neu-button">NEU</span >
        <span class = "input-group-addon filter-counter" data-selector-attribute="data-select-everything" title="DIESEN Filter matchende Elemente / gesamt">
          <sup><span class="filter-selected-count"></span></sup>/<sub><span class="filter-total-count"></span></sub></span>
        <input class = "filter accepting-input form-control" type = "text" name = "filter-budget-name"
               data-selector-attribute="data-select-everything" value="" placeholder = " ... Filter: Alles (Name | Korrekturbemerkung | Keys) ...">

        <span class = "input-group-addon  btn sortieren accepting-click bg sort-up" data-sort-attribute="data-sort-id">id</span >
        <span class = "input-group-addon  btn sortieren accepting-click bg sort-up" data-sort-attribute="data-sort-name">N</span >
        <span class = "input-group-addon  btn sortieren accepting-click bg sort-up" data-sort-attribute="data-sort-zeitraum">Z</span >
        <span class = "input-group-addon filter-counter" data-selector-attribute="any" title="ALLE Filter matchende Elemente / gesamt">
          <sup><span class="filter-selected-count"></span></sup>/<sub><span class="filter-total-count"></span></sub></span>
      </div>
    </div>


  </div>
  <div data-loop="BUD" data-view="BUD.html" data-sort-direction="descending" data-load-events='page-load'>
  </div>
</div>
<h1 class="loading-message" style="margin:auto; width:300px; margin-top:200px;">Lade Daten ...</h1>