<div class = "col-md-3 topmenu">
  <a class="btn " href="?index.php&data-view=index-arbeiten.html">Track</a> |
  <a class="btn " href="?index.php&data-view=index-notes.html">Notizen</a> |
  <a class="btn " href="?index.php&data-view=index-all.html">Alles</a> |
  <a class="btn " href="?index.php&data-view=index-budgets-statistik.html">Statistik</a>
</div>
<div class = "col-md-2">
  <div id="status">Daten werden geladen.</div>
</div>
<div class = "col-md-3"
         id="FRE_freitext1"
         data-element="instance"
         data-instance-id="FRE_freitext1"
         data-instance-type="FRE">
  <div class = "input-group">
    <input type = "text"
           name = "name"
           placeholder="...freitext..."
           class = "form-control"
           value='@include="data_FRE_freitext1.data"'>
    <span class = "input-group-addon  btn save" data-element="save-button">SAVE</span >
  </div>
</div>