<div class = "col-md-4 bottom-menu-include">
  <a class="btn" href="#pagetop">#Top</a>
  <a class="btn" href="#pagearbeit">#Arbeiten</a>
  <a class="btn" href="#pageanwesenheit">#Anwesenheiten</a>
  <a class="btn" href="#pagebudgets">#Budgets</a> |
  <a class="btn " href="?index.php&data-view=index-budgets-mit-arbeiten.html" title="Budgets+Arbeiten">B+A</a>
  <a class="btn " href="?index.php&data-view=index-budgets.html" title="Nur Budgets">B</a>
  <a class="btn " href="?index.php&data-view=index-anwesenheiten.html" title="Nur Anwesenheiten">A</a>
</div>