<div class="row"
     id="IDCOUNT"
     data-datum=""
     data-element="instance"
     data-instance-id="BUDid"
     data-instance-type="BUD">

  <div class = "col-md-5 prop-name focus" title="">
    <div class = "input-group">
      <span class = "input-group-addon  btn id-to-clipboard" data-element="id-to-clipboard-button">id</span >
      <span class = "input-group-addon  btn duplicate" data-element="duplicate-button">DUP</span >
      <input type = "text"
             name = "name"
             data-element="name"
             class = "form-control bg N">
      <span class = "input-group-addon  btn save" data-element="save-button">SAVE</span >
      <span class = "input-group-addon  btn delete" data-element="delete-button">D<sub>EL</sub></span >
    </div>
  </div>

  <div class = "col-md-2 prop-keys focus" title="">
    <div class = "input-group">
      <span class = "input-group-addon">Keys</span>
      <input type = "text"
             name = "keys"
             data-element="keys"
             class = "form-control">
    </div>
  </div>

  <div class = "col-md-1 prop-total">
    <div class = "input-group">
      <input type = "text"
             name = "btotal"
             data-element="btotal"
             class = "form-control">
      <span class = "input-group-addon">
        h</span>
    </div>
  </div>
  <div class = "col-md-1 prop-zeitraum"
       title="Zeitraum: total / m = monatlich / j = jährlich">
    <div class = "input-group">
      <input type = "text"
             name = "zeitraum"
             data-element="zeitraum"
             class = "form-control bg Z">
    </div>
  </div>
  <div class = "col-md-1 prop-korrektur"
       title="Korrektur: - = abziehen">
    <div class = "input-group">
      <input type = "text"
             name = "korrektur"
             data-element="korrektur"
             class = "form-control">
      <span class = "input-group-addon">
        Korr</span>
    </div>
  </div>
  <div class = "col-md-2 prop-korrekturbemerkung">
    <div class = "input-group">
      <span class = "input-group-addon">
        Korr-Bem:</span>
      <input type = "text"
             name = "korrekturbemerkung"
             data-element="korrekturbemerkung"
             class = "form-control">

    </div>
  </div>

  <div class = "col-md-1 prop-archive hidden">
    <div class = "input-group">
      <input type = "text"
             name = "archive"
             data-element="archive"
             class = ""
             value="0">
    </div>
  </div>
</div>