<div class="row linkliste"
     data-datum=""
     data-element="instance"
     data-instance-id="SONid"
     data-instance-type="SON">
  <div class = "col-md-1">
    <input type = "text"
           name = "pos"
           disabled="disabled"
           data-element="pos"
           class = "form-control" />
  </div>
  <div class = "col-md-11">
    <a href="#SONid">
      <input type = "text"
             name = "name"
             disabled="disabled"
             data-element="name"
             class = "form-control">
    </a>
  </div>
</div>