<div class="row r1 with-info"
     id="SONid"
     name="SONid"
     data-datum=""
     data-element="instance"
     data-instance-id="SONid"
     data-instance-type="SON">
  <div class = "col-md-1 prop-pos">
    <input type = "text"
           name = "pos"
           disabled="disabled"
           data-element="pos"
           class = "form-control" />
  </div>
  <div class = "col-md-11 prop-name">
    <input type = "text"
           name = "name"
           disabled="disabled"
           data-element="name"
           class = "form-control">
  </div>

  <div class = "col-md-12 prop-info">
    <div class = "link-target-blank show-on-with-info info">
    </div>
    <input type = "text"
           name = "info"
           data-element="info"
           disabled="disabled"
           size="200"
           class = "form-control show-on-edit" />
  </div>
</div>
<div class="row r2">
  <div class = "col-md-2">
    <a class="big" href="#top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&uarr; Top</a>
  </div>
</div>