<div class="row showshow-info-no"
     id="IDCOUNT"
     data-datum=""
     data-element="instance"
     data-instance-id="SONid"
     data-instance-type="SON">

  <div class = "col-md-11 prop-name focus" title="">
    <div class = "input-group">
      <span class = "input-group-addon  btn with-info" data-element="show-info-button"  title="Hat Info wenn schwarz">I</span>
      <input type = "text"
             name = "name"
             data-element="name"
             class = "form-control">
      <span class = "input-group-addon  btn edit" data-element="edit-button">EDIT</span >
      <span class = "input-group-addon  btn save" data-element="save-button">SAVE</span >
      <span class = "input-group-addon  btn duplicate" data-element="duplicate-button">DUP</span >
      <span class = "input-group-addon  btn delete" data-element="delete-button" title="Löschen!">D<sub>EL</sub></span >

    </div>
    <div class = "link-target-blank show-on-with-info">
    </div>

    <div class = "input-group prop-info show-on-edit focus">
      <input type = "text"
             name = "info"
             data-element="info"
             class = "editor form-control" />
    </div>

  </div>

  <div class = "col-md-1 prop-pos">
    <div class = "input-group">
      <input type = "text"
             name = "pos"
             size="5"
             placeholder="...Pos..."
             data-element="pos"
             class = "form-control" />
    </div>
  </div>

</div>
