<div class = "col-md-6 arb-anw"  title="Stunden Arbeit: Wert und Differenz zur Anwesenheit">
  Arb: <span class = "heute"> Heute:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "gestern"> Gestern:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "hwoche"> Woche:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "vwoche"> Vorwoche:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "hmonat"> Monat:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "vmonat"> Vormonat:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
</div>
<div class = "col-md-6 anw-soll"  title="Stunden Anwesenheit: Wert und Differenz zum Soll (6h tgl)">
  Anw:   <span class = "hmonat"> Monat:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "heute"> Heute:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "gestern"> Gestern:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "hwoche"> Woche:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "vwoche"> Vorwoche:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
  <span class = "vmonat"> Vormonat:
    <span class = "wert"></span>
    <span class = "differenz"></span>
  </span>
</div>